.menu-bar {
  background-color: #3400c4;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.item {
  color: rgb(0, 0, 0);
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.item.title {
  font-weight: 600;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

  a {
    position: relative;
  }
  
  a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(90deg, #F1C40F, #E74C3C);
    border-radius: 0;
    transition: all 0.5s ease-in-out;
  }
  
  a:hover::before {
    width: 100%;
    border-radius: 50%;
  }

  body {
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  }

  #home-header {
    text-align: center;
  }

  #home-image {
    text-align: center;
  }

  #home-text {
    border: 3cm;
  }

  #about-header {
    text-align: center;
  }

  #work-header {
    text-align: center;
  }